:root {
  --orange: #ffa500;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show-message {
  color: blue;
  width: 70%;
  word-wrap: break-word;
}

.error-message {
  color: red;
}

form, .container {
  width: 70%;
  border: 1px solid #efefef;
  padding: 30px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input, textarea {
  width: 60%;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  color: var(--orange);
}

.button::after,
.button::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--orange);
  border-right-color: var(--orange);

}

.button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--orange);
  border-left-color: var(--orange);
}

.button:hover:after,
.button:hover:before {
  width: 100%;
  height: 100%;
}


.button-link {
  text-decoration: none;
  margin-bottom: 20px;
}

.button:hover {
  background: rgba(100, 0, 0, .03);
}

.link-container {
  margin: 50px;
}

.account-container {
  border: 1px solid #efefef;
  border-radius: 3px;
  width: 60%;
  margin: 0 auto 10px auto;
}

.site-name {
  font-size: 24px;
}