.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show-message {
  color: blue;
  width: 70%;
  word-wrap: break-word;
}

.error-message {
  color: red;
}

form, .container {
  width: 70%;
  border: 1px solid #efefef;
  padding: 30px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input, textarea {
  width: 60%;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.button {
	--offset: 10px;
	--border-size: 2px;
	
	display: block;
	position: relative;
	padding: 1.5em 3em;
	border: 0;
	background: transparent;
	color: #ffa500;
	text-transform: uppercase;
	letter-spacing: .2em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
}


.button > a {
  color: black;
  text-decoration: none;
  width: 100;
}

.button:hover {
  background: rgba(100, 0, 0, .03);
}

.account-container {
  border: 1px solid #efefef;
  border-radius: 3px;
  width: 60%;
  margin: 0 auto 10px auto;
}

.site-name {
  font-size: 24px;
}